name: React CI CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          
      - name: Install and Build
        run: |
          npm install
          CI=false npm run build

      - name: Docker Build (Optional Step to check)
        run: docker build -t test-build .